// CONTAINER DIMENSIONS
$mobile: 480px
$left-width: 100%
$left-background: "media/background/cyber/cyber.jpeg" // placeholder for 40 MB GIF background

$website-top-padding-desktop: 50px
$website-top-padding-mobile: 200px

//ICONS
$icon-width-desktop: 70px
$icon-width-mobile: 130px
$inter-icon-spacing-desktop: 50px
$inter-icon-spacing-mobile: 60px

// COLOR
$icon-color-desktop: #f2a083 // salmon
$icon-color-mobile: #f2a083

// TEXT
$main-text-color: #f2a083
$art-credit-font-size-desktop: 1em
$art-credit-font-size-mobile: 5em

// GENERAL
.center-vertical
    margin: 0
    position: absolute
    top: 50%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
.center-horizontal
    margin: 0
    position: absolute
    left: 50%
    -ms-transform: translateX(-50%)
    transform: translateX(-50%)

body
    font-family: Futura
    color: white
a
    text-decoration: none
h1
    text-align: center
    font-size: 3em
    color: $main-text-color
    @media screen and (max-device-width: $mobile)
        font-size: $art-credit-font-size-mobile

#cyber-container
    top: 0
    height: 100%
    width: $left-width
    filter: saturate(150%)

    top-padding: $website-top-padding-desktop
    @media screen and (max-device-width: $mobile)
        top-padding: $website-top-padding-mobile

    background: url($left-background) no-repeat
    background-position: left
    background-size: cover

/* ====== OTHER ====== */
.art-credit
    font-size: $art-credit-font-size-desktop
    color: $main-text-color

/* ====== ICONS ====== */
.iconrow
    padding-bottom: $inter-icon-spacing-desktop
    @media screen and (max-device-width: $mobile)
        padding-bottom: $inter-icon-spacing-mobile
.icon
    fill: $icon-color-desktop
    width: $icon-width-desktop
    @media screen and (max-device-width: $mobile)
        fill: $icon-color-mobile
        width:  $icon-width-mobile
.icon:hover
    // TODO: create tooltip on hover (reference Mac OS dock)
    filter: brightness(2)
#vinyl
    animation: rotate 8s infinite linear
@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
