@use 'audioBars'

$mobile: 480px
$left-background: "media/cyber/cyber.jpeg"
$right-background: "media/cyber/cyber-blur2.png"
$text-color: black

body
    font-family: Times
    color: white
a
    text-decoration: none
h1 
    text-align: center
    font-size: 3em
    padding-bottom: 30%
    color: $text-color
    @media screen and (max-device-width: $mobile)
        padding-top: 10%
        font-size: 7em

/* ====== ICONS ====== */
.iconrow 
    text-align: center
    padding-bottom: 50px
.icon 
    height: 70px
    filter: saturate(5%) brightness(100%)
.icon:hover
    filter: saturate(55%)
    // TODO: size-increase shouldn't displace other elements
    height: 85px
@media screen and (max-device-width: $mobile)
    .iconrow 
        padding-bottom: 13%
    .icon
        height: 150px
    .icon:hover
        // TODO: size-increase shouldn't displace other elements
        height: 150px
#vinyl
    animation: rotate 8s infinite linear
@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

/* ====== SEPARATE PAGE TO 2 HALVES ====== */
.left,
.right 
    height: 100%
    position: fixed
    z-index: 1
    top: 0
    overflow: hidden // don't render scrollbar during CSS animation
    padding-top: 5%
.left
    left: 0
    width: 72%
    background: url($left-background) no-repeat
    // filter: saturate(15%)
    background-position: center
    filter: saturate(150%)
    background-size: cover
.right 
    right: 0
    background: url($right-background) no-repeat
    background-size: cover
    background-position: center
    width: 29%
/* limited space so don't render 'left' on mobile */
@media screen and (max-device-width: $mobile)
    .left 
        width: 0%
        background: white
    .right 
        width: 100%

/* ====== OTHER ====== */
.art-credit 
    font-size: 1em
    color: black
    @media screen and (max-device-width: $mobile)
        font-size: 2em

/* ====== GROOT ====== */
$grootHeight: 300px
$grootMaxY: -5px
$grootMinY: -($grootHeight)
@media screen and (max-device-width: $mobile)
    $grootHeight: 500px
    $grootMaxY: -50px
    $grootMinY: -($grootHeight)
#groot
    bottom: -($grootHeight)
    position: absolute
    height: $grootHeight
    filter: saturate(50%)
#groot:hover
    filter: saturate(100%)

@keyframes grootMoveUp
    0%
        bottom: $grootMinY
    100%
        bottom: $grootMaxY

@keyframes grootMoveDown
    0%
        bottom: $grootMaxY
    100%
        bottom: $grootMinY
