// Online eyedrop tool: https://imagecolorpicker.com/en

// CONTAINER DIMENSIONS
$mobile: 480px
$left-width: 90%
$left-background: "media/background/cyber/cyber.jpeg" // placeholder for 40 MB GIF background

$website-top-padding-desktop: 50px
$website-top-padding-mobile: 200px

// BORDER CONTROL
// goal: render cinematic black bars (top & bottom only)
$body-background-color: black
$cyber-container-width: 100%;
$cyber-container-height-desktop: 85%; // border = 100% - 85%
$cyber-container-height-mobile: 100%; // border would be weird on mobile

//ICONS
$icon-width-desktop: 50px
$icon-width-mobile: 130px
$inter-icon-spacing-desktop: 30px
$inter-icon-spacing-mobile: 90px

// COLOR
$icon-color-desktop: #f2a083 // salmon
$icon-color-mobile: #f2a083

// TEXT
$main-text-color: #f2a083
$header-font-size-desktop: 5em
$header-font-size-mobile: 5em
    
$art-credit-font-size-desktop: 1em
$art-credit-font-size-mobile: 5em

// GENERAL
.center-vertical
    margin: 0
    position: absolute
    top: 50%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
.center-horizontal
    margin: 0
    position: absolute
    left: 50%
    -ms-transform: translateX(-50%)
    transform: translateX(-50%)
.center
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
body
    font-family: Futura
    background: $body-background-color
a
    text-decoration: none
h1
    font-family: Futura
    text-align: center
    font-size: $header-font-size-desktop
    color: $main-text-color
    margin-bottom: 0em
    @media screen and (max-device-width: $mobile)
        font-size: $header-font-size-mobile

#cyber-container
    background: url($left-background) no-repeat
    background-size: cover
    // top: 0
    height: $cyber-container-height-desktop
    width: $cyber-container-width
    filter: saturate(150%)

    // padding
    // top-padding: $website-top-padding-desktop
    @media screen and (max-device-width: $mobile)
        height: $cyber-container-height-mobile
        top-padding: $website-top-padding-mobile
        background-position: left

/* ====== OTHER ====== */
.art-credit
    font-size: $art-credit-font-size-desktop
    color: $main-text-color

/* ====== ICONS ====== */
.iconrow
    padding-top: $inter-icon-spacing-desktop
    @media screen and (max-device-width: $mobile)
        padding-top: $inter-icon-spacing-mobile
.icon
    opacity: 60%
    fill: $icon-color-desktop
    width: $icon-width-desktop
    @media screen and (max-device-width: $mobile)
        fill: $icon-color-mobile
        width: $icon-width-mobile
.icon:hover
    // TODO: create tooltip on hover (reference Mac OS dock)
    filter: brightness(2)
#vinyl
    animation: rotate 8s infinite linear
@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
