.saturation-fluct {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-name: saturation-fadein;
          animation-name: saturation-fadein;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

.fade-in {
  opacity: 0%;
  -webkit-animation: fade-in 7s 2s forwards;
          animation: fade-in 7s 2s forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#img-bgrnd {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(150%) blur(7px);
            filter: saturate(150%) blur(7px);
  }
}

.saturation-fluct {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-name: saturation-fadein;
          animation-name: saturation-fadein;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

.blinking {
  -webkit-animation: blinking 2s infinite;
          animation: blinking 2s infinite;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes blinking {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
  }
}

.flicker {
  -webkit-animation: flicker 3s infinite alternate;
          animation: flicker 3s infinite alternate;
}

@-webkit-keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 20px #f2a083, 0 0 40px #f2a083, 0 0 45px #f2a083, 0 0 50px #f2a083, 0 0 75px #f2a083;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 20px #f2a083, 0 0 40px #f2a083, 0 0 45px #f2a083, 0 0 50px #f2a083, 0 0 75px #f2a083;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

.saturation-fluct {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-name: saturation-fadein;
          animation-name: saturation-fadein;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

body {
  font-family: 'Orbitron', sans-serif;
}

.name {
  font-size: 4em;
  text-align: center;
  color: #f2a083;
  text-shadow: #f2a083 0 0 5px;
}

.art-credit {
  text-align: center;
  color: black;
  opacity: 50%;
  font-size: 1em;
}

@media screen and (max-device-width: 480px) {
  .art-credit {
    font-size: 1em;
  }
}

@media screen and (max-device-width: 480px) {
  .desktop-name {
    display: none;
  }
}

.mobile-name {
  display: none;
  font-size: 20px !important;
}

.mobile-name .chinese-char {
  margin: 0;
  font-family: 'Noto Serif SC', serif;
}

@media screen and (max-device-width: 480px) {
  .mobile-name {
    display: inline;
  }
}

.neon-text {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 21px white, 0 0 41px white, 0 0 46px white, 0 0 21px white, 0 0 75px white;
}

.saturation-fluct {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-name: saturation-fadein;
          animation-name: saturation-fadein;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

.iconrow {
  padding-top: 20px;
}

@media screen and (max-device-width: 480px) {
  .iconrow {
    padding-top: 90px;
  }
}

.icon {
  display: none;
  fill: #f2a083;
  width: 40px;
  opacity: 60%;
}

@media screen and (max-device-width: 480px) {
  .icon {
    fill: #f2a083;
    width: 130px;
  }
}

.icon:hover {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

#vinyl {
  -webkit-animation: rotate 8s infinite linear;
          animation: rotate 8s infinite linear;
}

@media screen and (max-device-width: 480px) {
  #vinyl {
    display: none;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.saturation-fluct {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-name: saturation-fadein;
          animation-name: saturation-fadein;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

#img-bgrnd {
  position: absolute;
  z-index: -1;
  height: 110%;
  width: 100%;
  background: url("media/background/cyber/cyber.jpeg") no-repeat;
  background-size: cover;
}

.saturation-fluct {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-name: saturation-fadein;
          animation-name: saturation-fadein;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

.container {
  color: #5A5A5A;
  opacity: 30%;
  height: 3em;
  margin: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-backdrop-filter: brightness(0%);
          backdrop-filter: brightness(0%);
}

@media screen and (max-device-width: 480px) {
  .container {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.scroll p {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
}

.RightToLeft {
  -webkit-animation: RightToLeft 30s infinite linear;
          animation: RightToLeft 30s infinite linear;
}

@-webkit-keyframes RightToLeft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes RightToLeft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.LeftToRight {
  -webkit-animation: LeftToRight 30s infinite linear;
          animation: LeftToRight 30s infinite linear;
}

@-webkit-keyframes LeftToRight {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes LeftToRight {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.saturation-fluct {
  -webkit-filter: saturate(0%) blur(7px);
          filter: saturate(0%) blur(7px);
  -webkit-animation-name: saturation-fadein;
          animation-name: saturation-fadein;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes saturation-fadein {
  0% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
  50% {
    -webkit-filter: saturate(120%) blur(7px);
            filter: saturate(120%) blur(7px);
  }
  100% {
    -webkit-filter: saturate(0%) blur(7px);
            filter: saturate(0%) blur(7px);
  }
}

#iso-cards {
  -webkit-filter: blur(10px) saturate(0%);
          filter: blur(10px) saturate(0%);
  opacity: 70%;
}

#iso-cards:hover {
  opacity: 30%;
}

.music-bars {
  position: fixed;
  bottom: 1.5%;
  right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 20px;
}

.music-bars span {
  width: 10px;
  height: 100%;
  background-color: #5ef6ff;
  border-radius: 3px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: bounce 2.2s ease infinite alternate;
          animation: bounce 2.2s ease infinite alternate;
  content: '';
}

.music-bars span:nth-of-type(2) {
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  /* Start at the end of animation */
}

.music-bars span:nth-of-type(3) {
  -webkit-animation-delay: -3.7s;
          animation-delay: -3.7s;
  /* Start mid-way of return of animation */
}

@-webkit-keyframes bounce {
  10% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  60% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  80% {
    -webkit-transform: scaleY(0.75);
            transform: scaleY(0.75);
  }
  100% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
}

@keyframes bounce {
  10% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  60% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  80% {
    -webkit-transform: scaleY(0.75);
            transform: scaleY(0.75);
  }
  100% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
}

#brain-stem {
  height: 500px;
  width: 1000px;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  overflow: hidden;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

/* ====== UI ====== */
#mute-button {
  position: fixed;
  padding: 1em;
  bottom: 0;
  right: 0;
  opacity: 100%;
  width: 3em;
}

@media screen and (max-device-width: 480px) {
  #mute-button {
    padding: 3em;
    width: 4em;
  }
}

/* ====== CENTERING ====== */
.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */