$left-background: "media/background/cyber/cyber.jpeg" // placeholder for 40 MB GIF background
$bnw-filter: saturate(0%) blur(7px)
$color-filter: saturate(100%) blur(7px)

#img-bgrnd
    position: absolute
    z-index: -1
    height: 100%
    width: 100%
    background: url($left-background) no-repeat
    background-size: cover

    // transition background from color to bnw
    // filter: $color-filter
    // animation-name: saturation-fluctuation
    // animation-duration: 5s
    // animation-iteration-count: infinite
    // animation-direction: forwards

// @keyframes saturation-fluctuation
//     0%
//         filter: $color-filter
//     2%
//         filter: $bnw-filter
//     10%
//         filter: $color-filter
