$left-background: "media/background/cyber/cyber.jpeg" // placeholder for 40 MB GIF background
$bnw-filter: saturate(0%) blur(7px)
$color-filter: saturate(100%) blur(7px)

#img-bgrnd
    position: absolute
    z-index: -1
    height: 100%
    width: 100%
    background: url($left-background) no-repeat
    background-size: cover
    filter: $bnw-filter

    // transition background from color to bnw
    animation-name: saturation-fluctuation
    animation-delay: 5s
    animation-duration: 7s
    animation-iteration-count: 1
    animation-fill-mode: forwards

@keyframes saturation-fluctuation
    0%
        filter: $bnw-filter
    100%
        filter: $color-filter
