$bnw-filter: saturate(0%) blur(7px)
$color-filter: saturate(50%) blur(7px)


.fade-in
    opacity: 0%
    $anim-duration: 7s
    $anim-delay: 2s
    animation: fade-in $anim-duration $anim-delay forwards

@keyframes fade-in
    0%
        opacity: 0%
    100%
        opacity: 100%

#img-bgrnd
    filter: $bnw-filter
    // transition background from color to bnw
    // animation-name: saturation-fadein
    animation-delay: 5s
    animation-duration: 5s
    animation-iteration-count: 1
    animation-fill-mode: forwards

@keyframes saturation-fadein
    0%
        filter: $bnw-filter
    100%
        filter: $color-filter