// https://www.winterwind.com/tutorials/css/37
    
@import ./_constants

.container
  height: 3em
  margin: 0
  left: 0
  backdrop-filter: brightness(0%)
  display: flex
  position: fixed
  color: $text-color

.top
  top: 0

.bottom
  bottom: 0

.scroll
  white-space: nowrap
  margin: 0 2em

.scroll div
  display: flex
  gap: 2em

.scroll p
  font-size: 1em
  font-weight: bold
  margin-bottom: 0
  line-height: 10px


.RightToLeft
  animation: RightToLeft 30s infinite linear

@keyframes  RightToLeft
  from
    transform: translateX(0%)
  to
    transform: translateX(-50%)

.LeftToRight
  animation: LeftToRight 30s infinite linear

@keyframes  LeftToRight
  from
    transform: translateX(-50%)
  to
    transform: translateX(0%)