$mobile: 480px
$main-text-color: #f2a083
$header-font-size-desktop: 2em
$header-font-size-mobile: 4em
$art-credit-font-size-desktop: 0.7em
$art-credit-font-size-mobile: 5em

body
    font-family: Futura
.name
    font-size: $header-font-size-desktop
    text-align: center
    color: $main-text-color
    text-shadow: $main-text-color 0 0 5px
.art-credit
    font-size: $art-credit-font-size-desktop
    text-align: center
    color: $main-text-color
.chinese-char
    margin: 0
    font-family: 'Noto Serif SC', serif
    font-size: $header-font-size-mobile

// === show chinese name on mobile ===
#english-name
    @media screen and (max-device-width: $mobile)
        display: none
#chinese-name
    display: none
    @media screen and (max-device-width: $mobile)
        display: inline
