@import ./_constants
    
$header-font-size-desktop: 3em
$header-font-size-mobile: 4em
$art-credit-font-size: 1em
$art-credit-font-size-mobile: 2em

body
    font-family: Futura
.name
    font-size: $header-font-size-desktop
    text-align: center
    color: $text-color
    text-shadow: $text-color 0 0 5px
.art-credit
    position: fixed
    text-align: center
    color: black
    opacity: 50%
    bottom: 0
    right: 0
    padding-right: 2em
    font-size: $art-credit-font-size
    @media screen and (max-device-width: $mobile)
        font-size: $art-credit-font-size-mobile
.chinese-char
    margin: 0
    font-family: 'Noto Serif SC', serif
    font-size: $header-font-size-mobile

// === show chinese name on mobile ===
#english-name
    @media screen and (max-device-width: $mobile)
        display: none
#chinese-name
    display: none
    @media screen and (max-device-width: $mobile)
        display: inline

// neon text
.neon-text
  color: #fff
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 21px $text-color, 0 0 41px $text-color, 0 0 46px $text-color, 0 0 21px $text-color, 0 0 75px $text-color
  animation: flicker 3s infinite alternate //$initial-animation-time
@keyframes flicker
  0%, 18%, 22%, 25%, 53%, 57%, 100%
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 20px $text-color, 0 0 40px $text-color, 0 0 45px $text-color, 0 0 50px $text-color, 0 0 75px $text-color
  20%, 24%, 55%   
    text-shadow: none
